<h2>Resend confirmation instructions</h2>

<div class="border p-10 col-md-10 justify-content-center">

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-dark btn-block' %>
  </div>
<% end %>
  <br>
</div>

<%= render "users/shared/links" %>
