
<% provide(:title, 'Log in') %>

<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>" role="alert">
    <%= msg %>
  </div>
<% end %>

<div class="container h-100 d-flex justify-content-center p-5">

  <%= form_for(:session, url: login_path, html: { class: 'border p-4 col-md-4' }) do |f| %>

    <div class="form-group">
      <%= f.label :mysql_url, 'PostgreSQL hostname'%>
      <%= f.url_field :mysql_url, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :database %>
      <%= f.text_field :database, class: 'form-control', required: true %>
    </div>
    <%= f.submit "Sign In" %>
  <%end%>
</div>