
<h1>Trials</h1>

<% unless @current_best_trial.nil? or @current_best_trial.value.nil? %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Best Trial</h5>
      <h6 class="card-subtitle mb-2 text-muted">Trial #<%= @current_best_trial.number %></h6>
      <p class="card-text">Value: <%= @current_best_trial.value %></p>
      <%= link_to 'Show', @current_best_trial, class: 'card-link' %>
      <%= link_to 'Set Failed',  set_failed_trial_path(@current_best_trial), class: 'card-link text-warning' %>
      <%= link_to 'Destroy', @current_best_trial, class: 'card-link text-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Trial</th>
      <th scope="col">Number</th>
      <th scope="col">Study</th>
      <th scope="col">State</th>
      <th scope="col">Value</th>
      <th scope="col">Datetime start</th>
      <th scope="col">Datetime complete</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trials.each do |trial| %>
      <tr>
        <th scope="row"><%= trial.trial_id %></th>
        <td><%= trial.number %></td>
        <td><%= trial.study_id %></td>
        <td><%= trial.state %></td>
        <td><%= trial.value %></td>
        <td><%= trial.datetime_start %></td>
        <td><%= trial.datetime_complete %></td>
        <td><%= link_to 'Show', trial, class: 'btn btn-outline-dark btn-block' %></td>
        <td><%= link_to 'Set Failed',  set_failed_trial_path(trial), class: 'btn btn-outline-warning btn-block' %></td>
        <td><%= link_to 'Destroy', trial, class: 'btn btn-outline-danger btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @study_system_attributes.nil? or @study_system_attributes.empty? %>
  <h4>Study System Attributes</h4>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
    </thead>

    <tbody>
    <% @study_system_attributes.each do |attribute| %>
    <tr>
      <td><%= attribute.key %></td>
      <td><%= attribute.value_json %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<% unless @study_user_attributes.nil? or @study_user_attributes.empty? %>
  <h4>Study User Attributes</h4>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
    </thead>

    <tbody>
    <% @study_user_attributes.each do |attribute| %>
    <tr>
      <td><%= attribute.key %></td>
      <td><%= attribute.value_json  %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

<br>
