<p id="notice"><%= notice %></p>

<h3>Trial Details</h3>

<div class="justify-content-center p-4 border">
<p>
  <strong>Trial:</strong>
  <%= @trial.trial_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @trial.number %>
</p>

<p>
  <strong>Study:</strong>
  <%= @trial.study_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @trial.state %>
</p>

<p>
  <strong>Value:</strong>
  <%= @trial.value %>
</p>

<p>
  <strong>Datetime start:</strong>
  <%= @trial.datetime_start %>
</p>

<p>
  <strong>Datetime complete:</strong>
  <%= @trial.datetime_complete %>
</p>

  <% unless @trial_params.nil? or @trial_params.empty? %>
  <h4>Parameters</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Value</th>
        <th scope="col">Distribution Name</th>
        <th scope="col">Distribution Attributes</th>
      </tr>
      </thead>

      <tbody>
      <% @trial_params.each do |trial_param| %>
        <tr>
          <td><%= trial_param.param_name %></td>
          <td><%= trial_param.param_value %></td>
          <% parsed = JSON.parse trial_param.distribution_json %>
          <td><%= parsed['name'] %></td>
          <td><%= parsed['attributes'] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <% unless @trial_values.nil? or @trial_values.empty? %>
  <h4>Trial Values</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Step</th>
        <th scope="col">Value</th>
      </tr>
      </thead>

      <tbody>
      <% @trial_values.each do | trial_value | %>
      <tr>
        <td><%= trial_value.step %></td>
        <td><%= trial_value.value %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <% unless @trial_system_attributes.nil? or @trial_system_attributes.empty? %>
    <h4>Trial System Attributes</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
      </tr>
      </thead>

      <tbody>
      <% @trial_system_attributes.each do | attribute | %>
        <tr>
          <td><%= attribute.key %></td>
          <td><%= attribute.value_json %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <% unless @trial_user_attributes.nil? or @trial_user_attributes.empty? %>
  <h4>Trial User Attributes</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
      </tr>
      </thead>

      <tbody>
      <% @trial_user_attributes.each do | attribute | %>
      <tr>
        <td><%= attribute.key %></td>
        <td><%= attribute.value_json %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

</div>
<%= link_to 'Back', trials_path, class: 'btn btn-dark' %>
