<p id="notice"><%= notice %></p>

<h3>Trial Details</h3>

<div class="justify-content-center p-4 border">
<p>
  <strong>Trial:</strong>
  <%= @trial.trial_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @trial.number %>
</p>

<p>
  <strong>Study:</strong>
  <%= @trial.study_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @trial.state %>
</p>

<p>
  <strong>Value:</strong>
  <%= @trial.value %>
</p>

<p>
  <strong>Datetime start:</strong>
  <%= @trial.datetime_start %>
</p>

<p>
  <strong>Datetime complete:</strong>
  <%= @trial.datetime_complete %>
</p>
</div>
<%= link_to 'Back', trials_path, class: 'btn btn-dark' %>
