<h1>Studies</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Study Name</th>
      <th scope="col">Direction</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <th scope="row"><%= study.study_id %></th>
        <td><%= study.study_name %></td>
        <td><%= study.direction %></td>
        <td><%= link_to 'Show Details', study, class: 'btn btn-outline-dark btn-block' %></td>
        <td><%= link_to 'Edit', edit_study_path(study), class: 'btn btn-outline-dark btn-block' %></td>
        <td><%= link_to 'Remove', study, class: 'btn btn-outline-danger btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create Study', new_study_path, class: 'btn btn-dark btn-lg btn-block' %>

<%= render "layouts/signed_in_links" %>

Here is your mysql url: <code>mysql://<%= current_user.username %>:"your password without quotes"@165.227.204.35/<%= current_user.username %></code>