<p id="notice"><%= notice %></p>

<p>
  <strong>Study:</strong>
  <%= @study.study_id %>
</p>

<p>
  <strong>Study name:</strong>
  <%= @study.study_name %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @study.direction %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
