<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="<%= root_path %>">Optuna Explorer</a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Studies', studies_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Trials', trials_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Whitelist', ip_addresses_path, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>

    <div class="my-2 my-lg-0">
      <% if user_signed_in? %>
      <button class="btn btn-outline-info my-2 my-sm-0" onclick="document.location='<%= edit_user_registration_path %>'">Profile</button>
      <button class="btn btn-outline-info my-2 my-sm-0" onclick="document.location='<%= users_sign_out_path %>'">Sign Out</button>
      <% else %>
      <button class="btn btn-outline-info my-2 my-sm-0" onclick="document.location='<%= new_user_session_path %>'">Log In</button>
      <button class="btn btn-outline-info my-2 my-sm-0" onclick="document.location='<%= new_user_registration_path %>'">Sign Up</button>
      <% end %>
    </div>

  </div>
</nav>