<!DOCTYPE html>
<html>
  <head>
    <title>Optuna Explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% unless notice.nil? %>
  <div class="alert alert-primary">
    <%= notice %>
  </div>
  <% end %>

  <% unless alert.nil? %>
  <div class="alert alert-warning">
    <%= alert %>
  </div>
  <% end %>

  <% if alert.nil? and notice.nil? %>
  <br>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
